<app-topo></app-topo>

<div *ngIf="appEmAndamento; else FimDoApp"> 
	<app-painel (encerrar)="encerrarApp($event)"></app-painel>
</div>
<ng-template #FimDoApp>
	<div *ngIf="fimDoApp; else Derrota" class="container" >
		<div class="row">
			<div class="col">
				<h3 class="vitoria"> 
					Parabéns !!! <br> Você concluiu com sucesso!!!
				</h3>
				<button class="btn btn-primary" (click)="reiniciarApp()">Reiniciar Jogo</button>
			</div>
		</div>
	</div>
</ng-template>
<ng-template #Derrota>
	<div class="container">
		<div class="row">
			<div class="col">
				<h3 class="derrota">
					Fim de Jogo! <br> infelizmente você perdeu !!!
				</h3>
				<button class="btn btn-primary" (click)="reiniciarApp()">Reiniciar Jogo</button>
			</div>
		</div>
	</div>
</ng-template>




